body {
  width: 100%;
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}
#title {
  width: 100%;
  text-align: center;
}
#mainInfo {
  /* display: flex; */
  /* flex-direction: column; */
  order: 2;
  font-size: 22px;
  padding: 10px;
  /* width: calc(100% - 400px); */
  margin-left: 10px;
}
#topPic {
  height: 200px;
  /* display: flex; */
  /* margin-left: -50px; */
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-left: -5px;
  /* margin: auto; */
  /* align-items: center; */
}
#skills {
  /* display: flex; */
  /* flex-direction: column; */

  align-items: center;
  order: 1;
  width: fit-content;
  height: fit-content;
  border: 2px solid lightblue;
  padding: 5px;
  background-color: rgb(208, 235, 235);
  margin: auto;
  margin-top: 5px;
  margin-bottom: 25px;
}
.skillBar {
  text-align: center;
  width: 60px;
  margin: auto;
  height: 20px;
  /* border: 1px solid red; */
  background-color: rgb(170, 170, 170);
  clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
}
.skillBarActive {
  text-align: center;
  width: 60px;
  margin: auto;
  height: 20px;
  /* border: 1px solid red; */
  background-color: rgb(64, 157, 233);
  clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
}
#skills table {
  border-spacing: 5px;
  width: 250px;
  table-layout: fixed;
  text-align: center;
}
#skills caption {
  font-size: 22px;
  font-weight: 400;
}
#skills th {
  text-align: left;
  padding-left: 15px;
}
#skills th,
#skills td {
  width: 60px;
}
#skills td {
  font-size: 14px;
}
#tableLegend {
  font-size: 14px;
  margin-bottom: -5px;
  margin-top: 0px;
}
@media only screen and (min-width: 768px) {
  main {
    margin-top: 53px;
    height: calc(100% - 53px);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }
  #mainInfo {
    margin: 0 50px;
  }
}
@media only screen and (min-width: 1000px) {
  main {
    row-gap: 0px;
  }
  #mainInfo {
    width: calc(100% - 500px);
    margin: 0;
    margin-left: 100px;
  }
  #topPic {
    display: flex;
    height: 200px;
    width: 80%;
    margin: auto;
  }
  #skills {
    order: 2;
    border: 2px solid lightblue;
    padding: 20px;
  }
  #title {
      text-align: left;
      margin-left: 220px;
  }
}
